<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/satoshi.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <title>Login</title>
  </head>
  <body>
    <div
      class="h-[100vh] rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
    >
      <div class="flex h-full flex-wrap items-center justify-center">
        <div class="hidden w-full xl:block xl:w-1/2">
          <div class="px-26 py-17.5 text-center">
            <a href="/" class="text-3xl font-semibold text-black">
              CareInsights
            </a>

            <p class="2xl:px-20">
              Empowering Healthcare with FHIR-Driven Data Insights and Care
              Optimization
            </p>

            <span class="mt-15 inline-block">
              <img src="../static/assets/auth.svg" />
            </span>
          </div>
        </div>

        <div
          class="w-full border-stroke dark:border-strokedark xl:w-1/2 xl:border-l-2"
        >
          <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
            <span class="mb-1.5 block font-medium">Start for free</span>

            <h2
              class="mb-4 text-2xl font-bold text-black dark:text-white sm:text-title-xl2"
            >
              Sign In to CareInsights
            </h2>

            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %} {% if
            category == 'error' %}
            <p class="mb-5 text-red">{{ message }}</p>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

            <form action="/api/auth/login" method="POST">
              <div class="mb-4">
                <label
                  class="mb-2.5 block font-medium text-black dark:text-white"
                >
                  Email
                </label>

                <div class="relative">
                  <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 text-black outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                  />

                  <span class="absolute right-4 top-4">
                    <img
                      src="../static/assets/icons/Mail.svg"
                      class="h-5 w-5 opacity-85"
                    />
                  </span>
                </div>
              </div>

              <div class="mb-6">
                <label
                  class="mb-2.5 block font-medium text-black dark:text-white"
                >
                  Password
                </label>

                <div class="relative">
                  <input
                    type="password"
                    name="password"
                    placeholder="6+ Characters, 1 Capital letter"
                    class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 text-black outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                  />

                  <span class="absolute right-4 top-4">
                    <img
                      src="../static/assets/icons/Lock.svg"
                      class="h-5 w-5 opacity-85"
                    />
                  </span>
                </div>
              </div>

              <button
                class="mb-5 flex w-full cursor-pointer items-center justify-center rounded-lg border border-primary bg-primary p-4 text-white transition hover:bg-opacity-90"
                type="submit"
              >
                Sign in
              </button>

              <div class="mt-6 text-center">
                <p>
                  Don’t have any account?
                  <a href="/signup" class="text-primary"> Sign Up </a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
